<!DOCTYPE html>
<!--

-->
<html>
    <head>
        <title>WebSite Didático - Responsivo e Adaptável</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="css/estilo.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
        <h1>WebSite Didático - Responsivo e Adaptável</h1>
        <h2>Detecção de medidas</h2>
        <p class="paisagem">Horizontal - Paisagem </p>
        <p class="retrato">Vertical - Retrato</p>
        <p>Tela Largura: <span id="largura"></span> Altura: <span id="altura"></span></p>
        <script src="js/medidas.js"></script>
    </header>
    </body>
</html>
