
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/10/2014, 19:28:23
    Author     : Jessica
*/

body{
    background-color: black;color: white; 
}


@media screen and(orientation: portrait){
    /*Retrato vertical*/
    .paisagem{display:none;}
    .retrato{display:block;}

}

@media screen and (orientation: landscape){

    /*Paisagem Horizontal*/
    .paisagem{display:block;}
    .retrato{display:none;}

}

@media screen and (min-width :1280px){
    section{display: block; margin:0 auto; /*centralização*/
            width:1230px;
            padding-left:50px;
            /*borda so para debug*/
            border:2px white solid;
    }

figure{
    width: 390px;
    height: 300px;
    float: left;
    border:2px white solid;
    margin:5px;
}


}
@media screen and (min-width: 800px) and (max-width:1279px){
     section{display: block; margin:0 auto; /*centralização*/
            width:800px;
            padding-left:50px;
            /*borda so para debug*/
            border:2px chartreuse dashed;
    }

figure{
    width: 390px;
    height: 280px;
    float: left;
    border:2px white solid;
    margin:5px;
}

}
@media screen and (max-width:199px){}

img{
    width: 90%; /*referesse a figure*/
    height: 90%; 
    display: block;
        margin:5% auto;
}

figcaption{
    background-color: rgba(240,240,240,0.4);
    height: 30px;
    position: relative;
    bottom: 50px;
    text-align: center;
    width:98%;
    
}

.fim {
clear:both; /*limpar a flutuação*/

}
